<.header>
  New Recipe
  <:subtitle>Use this form to manage recipe records in your database.</:subtitle>
</.header>

<.recipe_form changeset={@changeset} action={~p"/recipes"} />

<.back navigate={~p"/recipes"}>Back to recipes</.back>
